* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: "Roboto", sans-serif;
    font-size: 16px;

}

body {
    color: #333;
    background-color: #f7f7f7;
    /*min-height: 100vh;*/
}

button,
input {
    all: unset;
}

button:hover {
    cursor: pointer;
}

.search-container {
    display: flex;
    justify-content: center;
    padding: 1rem;
    background: linear-gradient(0.25turn, rgba(47, 250, 173, 0.37), rgba(144, 43, 234, 0.39), rgba(243, 31, 81, 0.54));
}

.search-field {
    font-size: 1.4rem;
    padding: 0.5rem 2rem;
    width: 30rem;
    border: 1px solid #ccc;
    border-radius: 1.5rem;
    background-color: #fff3f1;
}

.search-field::placeholder {
    color: #aaa;
}

.search-button {
    font-size: 1.4rem;
    color: #1b6309;
    padding: 0.5rem 0.7rem;
    border: 1px solid #ccc;
    border-radius: 50%;
    background-color: #fff3f1;
    transition: background-color 0.4s;
}

.search-button:hover {
    background-color: rgba(255, 221, 221, 0.8);
}

.container {
    display: flex;
    flex-direction: column;
}

.countries {
    display: inline-flex;
    justify-content: center;
    flex-wrap: wrap;
    font-size: 2rem;
    opacity: 0;
    transition: opacity 1s;
}

.country {
    background-color: #fff;
    box-shadow: 8px 8px 14px 7px rgba(0, 0, 0, 0.2);
    font-size: 1rem;
    width: 22rem;
    border-radius: 0.7rem;
    margin: 1rem 2rem;
    /* overflow: hidden; */
}

.country__img {
    width: 22rem;
    height: 12rem;
    object-fit: cover;
    background-color: #eee;
    border-top-left-radius: 0.7rem;
    border-top-right-radius: 0.7rem;
}

.country__data {
    padding: 2rem;
}

.country__name {
    font-size: 2.2rem;
    margin-bottom: 0.7rem;
}

.country__region {
    font-size: 1.1rem;
    margin-bottom: 2rem;
    text-transform: uppercase;
    color: #666;
}

.country__row:not(:last-child) {
    margin-bottom: 1rem;
}

.country__row span {
    display: inline-block;
    margin-right: 2rem;
    font-size: 1.5rem;
}




